.top-time-buttons {
  background-image: linear-gradient(#e2cee2, #f1e5f1);
  position: relative;
  text-align: right;
  margin-bottom: 10px;
  top: 0px;
  padding: 10px 0px 10px 0px;
}

.top-time-buttons-dark {
  background-color: #2b2d30;
  position: relative;
  text-align: right;
  margin-bottom: 10px;
  top: 0px;
  padding: 10px 0px 10px 0px;
}

.time-show {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 50%;
  font-size: 4em;
  margin-left: -50px;
}

.time-show-dark {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 50%;
  font-size: 4em;
  margin-left: -50px;
  color: #FFFFFF;
}

.timer-show-box {
  position: relative;
  text-align: center;
  height: 15vh;
}

.show-button {
  /* float: right; */
  position: absolute;
  top: 5px;
  right: 10px;
}

.time-input-box {
  border: 0px;
  border-radius: 5px;
  background-color: #eeecee;
  line-height: 20px;
}

.time-input-box-dark {
  border: 0px;
  border-radius: 5px;
  background-color: #eeecee3f;
  line-height: 20px;
}

.time-button-preset {
  margin: 0px 10px 0px 10px;
  background-color: transparent;
  border: 0px solid #555555;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.time-button-preset:hover {
  background-color: transparent;
  color: #555555;
  text-decoration: underline;
  transform: scale(1.2);
  transition-duration: 3ms;
  transition-timing-function: linear;
}

.time-button-preset-dark {
  margin: 0px 10px 0px 10px;
  background-color: transparent;
  border: 2px solid #d8d8d8;
  color: #696969;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.time-button-preset-dark:hover {
  background-color: transparent;
  color: #555555;
  border: 2px solid #03DAC6;
  color: #02b3a1;
}

.set-time-button-preset {
  margin: 0px 10px 0px 10px;
  background-color: transparent;
  border: 0px solid #555555;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.set-time-button-preset-dark {
  margin: 0px 10px 0px 10px;
  background-color: transparent;
  border: 2px solid #d8d8d8;
  color: #696969;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.set-time-button-preset-dark:hover {
  border: 2px solid #03DAC6;
  color: #02b3a1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus{
  outline: None;
}