.top-time-buttons {
  text-align: right;
  margin-bottom: 10px;
}

.time-show {
  position: relative;
}

.timer-show-box {
  text-align: center;
}

.show-button {
  float: right;
}

.time-button-preset {
  margin: 0px 10px 0px 10px;
}
