.Text {
  text-align: center;
  font-family: monospace;
}
.Character {
  font-size: 1.5em;
  white-space: pre;
}

.Character-current {
  background-color: #09d3ac;
}

.Character-out {
  color: silver;
}


/* darkmode */


.Character-in-dark {
  color: #FFFFFF;
}

.Character-current-dark {
  background-color: #09d3ac;
  color: #FFFFFF;
}

.Character-out-dark {
  color: #696969;
}