.Text {
  text-align: center;
  font-family: monospace;
}
.Character {
  position: relative;
  font-size: 1.5em;
  white-space: pre;
  top: 50%;
}

.Character-current {
  background-color: #09d3ac;
}

.Character-out {
  color: silver;
}

/* darkmode */

.Character-in-dark {
  color: #ffffff;
}

.Character-current-dark {
  background-color: #09d3ac;
  color: #ffffff;
}

.Character-out-dark {
  color: #696969;
}
